body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-image: linear-gradient(45deg, #FF6A28, #E9E4F0);
}

.body--active {
	background-image: linear-gradient(45deg, #CE9FFC, #7367F0);
}

div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 80px;
	font-family: 'Josefin Sans', sans-serif;
	border-radius: 100px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition-duration: 300ms;
	user-select: none;
}

div:hover {
	color: #fff;
	background-color: #000;
	transform: scale(1.2);
}